import 'package:karee/annotations.dart';


/// Generated Karee Controller
///
///
/// `$className` is set as Controller
@Controller
class $classNameController{
   
   
  String index(){

      return '$classNameController is ready to use';

  }
}
