import 'package:karee/annotations.dart';


/// Generated Karee Controller
///
///
/// `$className` is set as Controller
@Controller
class $classNameController{
   
  static $classNameController get instance =>
      KareeInjector.instance<$classNameController>()!;
   
  String readyText(){

      return '$classNameController is ready to use';

  }
}
