import 'package:flutter/material.dart';

import 'package:karee/annotations.dart';
import 'package:karee/widgets.dart';

/// 
/// `$classNameScreen`: TODO add some documentation
/// 
@Screen('$ScreenName')
class $classNameScreen extends StatefulScreen {

  @override
  _$classNameState createState() => _$classNameState();
}

class _$classNameState extends ScreenState<$classNameScreen> {

  @override
  Widget builder(BuildContext context) {

    return Scaffold(
      appBar: AppBar(),
      body: Center(
          child: Text('$classNameScreen works !!!')
      )
    );
  }
}
