import 'package:flutter/material.dart';

import 'package:karee/annotations.dart';
import 'package:karee/widgets.dart';

import 'components/congrat_card.dart';

/// Generated Karee Screen
///
/// `$classNameScreen` is set as Screen with name `$name`
@Screen("$name")
class $classNameScreen extends StatelessScreen {

  @override
  Widget builder(BuildContext context) {

    return Scaffold(
      appBar: AppBar(),
      body: Center(
          child: CongratCard()
      )
    );
  }
}
